---
import type { HTMLAttributes } from "astro/types";
import { useTranslations } from "@/i18n";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const t = useTranslations(Astro.currentLocale);
const currentYear = new Date().getFullYear();
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div class="border-border flex flex-col items-center gap-3 border-t py-6 text-xs text-muted-foreground sm:flex-row sm:justify-between">
    <div class="flex items-center gap-2 whitespace-nowrap">
      <span>&#169; {currentYear} {t.footer.copyright}</span>
      <span>|</span>
      <a href="/terms" class="hover:text-accent">Site policy</a>
      <span>|</span>
      <a
        href="https://github.com/oohyees/website"
        target="_blank"
        class="hover:text-accent"
      >
        GitHub
      </a>
      <span>|</span>
      <a
        href="/rss.xml"
        class="hover:text-accent"
      >
        RSS
      </a>
    </div>
    <div>
      <span>Powered by Astro</span>
      <span class="ms-1">|</span>
      <a
        href="https://github.com/satnaing/astro-paper"
        target="_blank"
        class="ms-1 hover:text-accent"
      >
        AstroPaper
      </a>
    </div>
  </div>
</footer>
